:root{
    --primario: #9C27B0;
    --primarioOscuro: #89119d;
    --secundario: #FFCE00; 
    --secundarioOscuro: rgb(233, 187, 2);
    --blanco: #fff;
    --negro: #000; 

    --fuentePrincipal: 'Staatliches', cursive;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  /**globales**/

body {
    /*definimos el color principal y sus tamanos*/
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5; /*interlineado*/

}

p { /*definimos estructura del cuerpo*/

     font-size: 1.8rem; /*16 px*/
     font-family: Arial, Helvetica, sans-serif;
     color: var(--blanco);

}

a { /*quitamos el subrayado de enlaces*/
    text-decoration: none;
}

img {
    width: 100%;
}

.contenedor {
    margin: 1rem; /*1200 pixeles*/
    max-width: 0 auto; /*centrar contenido*/
}
@media (min-width: 768px) {
    .contenedor {
        margin: 10rem; /*1200 pixeles*/
        max-width: 0 auto; /*centrar contenido*/
    }
}

h1, h2, h3 { /*Alineamos titulos y agregamos color*/
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}

/**header**/

.header {
    display: flex;
    justify-content: center; /*alineamos al centro*/
}

.header__logo {
    margin: 3rem 0; /*dejamos espacio arriba del logo y debajo, pero nada a los lados*/
}

/**footer**/
.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0; /*ajustar margen de los lados*/
    margin-top: 2rem; /*separacion de elementos por arriba*/
}

.footer__texto {
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2rem; /*tamano*/
}

/**Navegacion**/

.navegacion {
    background-color: var(--primarioOscuro); /*fondo de barra de navegacion*/
    padding: 1rem 0; /*hacemos mas gruesa la barra de navegacion*/
    display: flex;
    justify-content: center; /*alineamos enlaces al centro*/
    /*gap: 2rem; /*separa el texto de los enlaces entre si*/
}

.navegacion__enlace { /*aspecto de enlaces de barra de navegacion*/
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem; /*tamano de letra*/
    margin-right: 2rem;

}

.navegacion__enlace--activo, /*mantenemos en enlace de color amarillo dependiendo de la pagina en que se encuentre o el cursor*/
.navegacion__enlace:hover {
    color: var(--secundario);
}
/**Grid**/
.grid{
    display: grid; /*seleccionamos el tipo de orden o maqueta que llevaran los elementos*/
    grid-template-columns: repeat(2, 1fr); /*se generan 2 columnas*/
    column-gap: 2rem; /*Separa los margenes de las imagenes*/
    row-gap: 2rem; /*sepaara el margen por abajo y arriba de las imagenes*/

}
@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3, 1fr); /*se generan tres columnas*/
    }
}

.grid__nosotros{
    display: grid; /*seleccionamos el tipo de orden o maqueta que llevaran los elementos*/
    grid-template-columns: repeat(1, 1fr); /*se generan 2 columnas*/
    column-gap: 2rem; /*Separa los margenes de las imagenes*/
    row-gap: 2rem; /*sepaara el margen por abajo y arriba de las imagenes*/

}
@media (min-width: 768px) {
    .grid__nosotros{
        grid-template-columns: repeat(2, 1fr); /*se generan dos columnas*/
    }
}

/**productos*/

.producto{
    background-color: var(--primarioOscuro);
    padding: 1rem; /*centrar imagen en margen*/
}

.producto__nombre{
    font-size: 4rem;
}

.producto__precio{
    font-size: 2.8rem;
    color: var(--secundario);
}

.producto__nombre,
.producto__precio{
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/**graficos*/

.grafico{
    min-height: 30rem;
    background-repeat: no-repeat; /*evitampos que las imagenes se repitan en el mismo espacio*/
    background-size: cover;/*llenamos todo el espacio de las imagenes*/
    grid-column:  1 / 3;
}

.grafico--camisas {
    grid-row: 2 / 3; /*dejamos espacio en la cuadricola de la posicion 2 a 3 de arriba a abajo*/
    background-image: url(../img/grafico1.jpg);
}

.grafico--node {
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;
}

@media (min-width: 768px) { /**ajustar espacio de imagen de doble casilla*/
    .grafico--node {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

/**nosotros**/

.nosotros {
    display: grid; /*creamos la cuadricula*/
    grid-template-rows: repeat(2, auto);
}

@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr); /*nos genera dos columnas*/
        column-gap: 2rem;
    }
}

.nosotros__imagen {
    grid-row: 1 / 2; /*cuando la pantalla se reduce la imagen queda arriba del texto*/
}

@media (min-width: 768px) {
    .nosotros__imagen{
        grid-column: 2 / 3; /*movemos la imagen a la derecha*/
    }
}

/**bloques**/

.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*2 columnas de mitad y mita*/
    gap: 2rem;/*separaciobn*/
}

@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr); /*creamos 4 columnas */
    }
}

.bloque {
    text-align: center;
}

.bloque__titulo {
    margin: 0;
}

/**pagina del producto**/

@media (min-width: 768px) {
    .camisa {
        display:  grid;
        grid-template-columns: repeat(2, 1fr); /*Colocamos la imagen y formulario de la camisa de lado a otro*/
        column-gap: 2rem; /*hacemos una separacion entre imagen y texto de 20 pixeles*/
    }
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*creamos la cuadrilla de 4 posiciones, con dos columnas */
    gap: 2rem; /*hacemos espacio entre los lugares de la cuadrilla*/
    
}

.formulario__campo {
    border-color: var(--primarioOscuro); /*cambiamos de color el fondo del borde*/
    border-width: 1rem; /*hacemos mas grueso el borde*/
    border-style: solid; /*Todo el borde se vera igual*/
    
    border: 1rem solid var(--primarioOscuro); /*es exactamente las tres lineas de arriba (grueso del borde / estilo del borde / color) solo que en una linea*/
    background-color: transparent; /*el text box se quede del mismo color del fondo*/
    color: var(--blanco);
    font-size: 2rem; /*aunentamos el tamano de la letra*/
    font-family: Arial, Helvetica, sans-serif;
    padding: .5rem; /*aumentamos tamano de bordes*/
    appearance: none; /*quitamos las flechas de talla*/
}

.formulario__submit {
    background-color: var(--secundario); /*cambiamos color */
    border: none; /* quitamos el borde del boton */
    font-size: 2rem; /*hacemos mas grande el boton */
    font-family: var(--fuentePrincipal); /*cambiamos el tipo de letra*/
    padding: 1.2rem; /*dejamos espacio de 20 pixeles alrededor del texto del boton. Asi agranda bordes*/ 
    transition: background-color .3s ease; /*el cambio de color cuando se coloca el cursos se hace mas lento*/
    grid-column: 1 / 3;
}

.formulario__submit:hover {
   cursor: pointer; /*al colocar diseno al boton se pierde la manita de seleccion, con pointer vuelve a salir*/
   background-color: var(--secundarioOscuro); /*cambia de color el boton cuando el cursor se pone encima de el*/
}